/GTD/ltxpng
*#

paper/radiomics/*
!/paper/radiomics/*.tex
!/paper/radiomics/*.org


course/digital_image_processing/ltxpng
letter/
*.DS_Store
paper/detection/slides/
!/paper/detection/slides/det_slide.tex

course/optimization/missfont.log
course/matrix/ltxpng
/emacs/ltxpng/
*~
auctex/ltxpng/
course/optimization/ltxpng/
course/optimization/textbook.tex
*.html
auctex/example/*
paper/detection/ltxpng
auto/
*.pdf
emacs/presentation.tex
!/auctex/example/simple.tex
!/auctex/example/slides.tex
