/emacs/ltxpng/
*~
auctex/ltxpng/
course/optimization/ltxpng/
course/optimization/textbook.tex
*.html
auctex/example/*
paper/detection/ltxpng
auto/
*.pdf
emacs/presentation.tex
!/auctex/example/simple.tex
!/auctex/example/slides.tex
